.lava-cntr {
  font: 14px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lava-cntr a {
  font-weight: bold;
}
ul.horizontal-list.margin-10 li {
  margin: auto 10px;
}
ul.horizontal-list li {
  float: left;
  list-style: none;
}
ul.no-list-style {
  list-style: none;
}
.no-text-decoration {
  text-decoration: none;
}
.no-text-decoration a {
  text-decoration: none;
}
body.no-js .js-only {
  display: none;
}
body.js .js-nojs,
body.js .nojs-fallback {
  display: none;
}
.lava-invisible {
  position: fixed;
  top: -2000px;
  left: -2000px;
  opacity: 0;
}
