/*
	Defines structure for LAVA framework
*/

// The number of pixels which we the theatre has outgrown (that need to applied as padding)
@bleed-left: 19px;
@bleed-right: 15px;

@programme-width: 220px;

#lava-theatre {
	margin-left: -@bleed-left;
	margin-right: -@bleed-right;
}

#lava-topbar {
	@height: 50px;


	position: relative;
	height: @height;
	margin-top: 10px;
	margin-left: -6px;
	padding-left: @bleed-left + 6;
	z-index: 21; // makes sure that the sidebar shadow is below
	border: 1px solid #999;
	border-right: none;

	&::before {
		content: '';
		position: absolute;
		left: -1px;
		bottom: -6px;
		border: 3px solid transparent;
		border-top-color: #999;
		border-right-color: #999;
	}

	.lava-nav-pages {
		height: @height;
		line-height: @height;
	}

}

#lava-actionbar {
	@height: 30px;
	@padding: 15px;
	height: @height + 2 * @padding;
	border-bottom: 1px solid #ebebeb;

	.lava-actionbar-title {
		position: absolute;
		padding-left: 20px;
		left: 0px;
		line-height: @height * 2;
		height: @height * 2;
		max-width: @programme-width;
	}

	// This class should be applied to all children of #lava-actionbar and it applies padding and height (to keep it consistent)
	.lava-actionbar-block {
		height: @height;
		line-height: @height;
		padding: @padding 0px;

		&.inactive-descendant {
			display: none;
		}

	}
}

#lava-programme {
	width: @programme-width;
	margin-left: -(@programme-width + @bleed-left);
	float: left;
	padding-top: 30px;
}

#lava-stage {
	padding-top: 30px;
}

/*
	Scenes
*/

.lava-scene {
	&.inactive-descendant {
		display: none;
	}
}

/*
	Navigation
*/

.lava-nav {
	li {
		&.hidden-descendant {
			display: none;
		}

		cursor: pointer;

	
	}

}

.lava-nav-google {
	@height: 30px;

	li {


		a{
			padding-left: 39px;
			display: inline-block;
			height: @height;
			line-height: @height;
		}
	}
}

/*
	Buttons
*/

.lava-btn {
	height: 30px;
}

/*
	Titles
*/

.lava-title-wrap {
	@height: 30px;
	line-height: @height;
	//height: @height;
}

.lava-title {
	@height: 30px;
	line-height: @height;
	height: @height;
}

/*
	Settings
*/

.lava-setting {
	padding-bottom: 20px;
}


// applies padding to return to WordPress default
.fix-bleed {
	padding-left: @bleed-left;
	padding-right: @bleed-right;
}

.lava-programme-aware {
	padding-left: @bleed-left + @programme-width;
}

/*
	Ingredients > These are the building blocks for the UI
*/

	/*
		.lava-tray
	*/

	.lava-tray {
		padding-top: 10px;
	}

	/*
		.lava-object-block
	*/

	.lava-object-block {
		margin-right: 20px;
		margin-bottom: 30px;
		display: inline-block;
		position: relative;

		&:hover {

			.lava-object-block-tray {
				padding: 5px;
				.lava-object-block-tray-inner {
					height: 30px;
					//margin-bottom: -50px;
				}
			}
		}

		.lava-object-block-info {
			padding: 5px;
			&.lava-object-block-clickable {
				cursor: pointer;
			}
			.lava-object-block-thumb {
				img {

				}
			}
		}

		.lava-object-block-tray {
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: whiteSmoke;

			.lava-object-block-tray-inner {
				padding: 0px;
				height: 0px;
				line-height: 30px;
				overflow: hidden;
			}
		}


		.lava-object-block-actions {

		}
	}
