{% extends 'default.twig' %}

{% block setting_value %}
	{% for setting_option in setting_options %}
		{% set setting_attrs_new = setting_attrs | merge(setting_option.setting_attrs) %}
		{% block setting_option %}
			<div>
				<label>
					{{ macros.input( setting_name, setting_option.value , 'radio', setting_attrs_new ) }}
					<span class="setting-label">{{ setting_option.label | default( setting_option.value ) | title }}</span>
				</label>
			</div>
		{% endblock %}
	{% endfor %}
{% endblock %}