<div id="cinder_actionbar" class="cinder-actionbar fix-bleed cinder-programme-aware {% if not show_actionbar %}hidden {{ show_actionbar }} {% endif %}">
	<div class="cinder-actionbar-title">{{ page_title }}</div>
	<div class="cinder-actionbar-cntr">
		{% for scene in scenes %}
				<div data-scene-id="{{ scene.get_scene_id }}" class="cinder-actionbar-block js-cinder-animation-slide-right{% if scene.is_selected %} active-descendant js-default-descendant{% else %} inactive-descendant{% endif %}">
					{% for action in scene.do_scene_actions %}
						{{ action | raw }}
					{% endfor %}
				</div>
		{% endfor %}
	</div>
</div>
<!-- cinder-actionbar -->