<div class="wrap debug">
	<h2>{{ plugin.name | default('Undefined Plugin') }}</h2>
	<div id="lava-theatre" class="lava-theatre">
		<div id="lava-topbar" class="lava-topbar">
		</div>
		<!-- lava-topbar -->
		<div id="lava-actionbar" class="lava-actionbar">
		</div>
		<!-- lava-actionbar -->
		<div class="lava-stage-cntr">
			<div class="lava-programme">
			</div>
			<!-- lava-programme -->
			<div class="lava-stage">
			</div>
			<!-- lava-stage -->
		</div>
		<!-- lava-stage-cntr -->
	</div>
	<!-- lava-theatre -->
</div>
<!-- wrap -->