<div class="wrap debug lava-cntr">
	<h2>{{ plugin.name | default('Undefined Page') }}</h2>
	<div id="lava_theatre" class="lava-theatre">
		{% include 'TopBar.twig' %}
		{% include 'ActionBar.twig' %}
		<div class="lava-stage-cntr lava-programme-aware fix-bleed clearfix">
			{% include 'Programme.twig' %}
			{% include 'Stage.twig' %}
		</div>
		<!-- lava-stage-cntr -->
	</div>
	<!-- lava-theatre -->
</div>
<!-- wrap -->