<div class="wrap debug cinder-cntr">
	<h2>{{ plugin.name | default('Undefined Page') }}</h2>
	<div id="cinder_theatre" class="cinder-theatre">
		{% include 'TopBar.twig' %}
		{% include 'ActionBar.twig' %}
		<div class="cinder-stage-cntr cinder-programme-aware fix-bleed clearfix">
			{% include 'Programme.twig' %}
			{% include 'Stage.twig' %}
		</div>
		<!-- cinder-stage-cntr -->
	</div>
	<!-- cinder-theatre -->
</div>
<!-- wrap -->