<div id="cinder_programme" class="cinder-programme">
	<nav>
		<ul data-cinder-nav-target-cntr="cinder_stage" data-cinder-nav-identifier="data-scene-id" class="cinder-nav cinder-nav-google cinder-nav-scenes js-cinder-nav vertical-list">
			{% for scene in scenes %}
				<li data-scene-id="{{ scene.get_scene_id }}" class="{% if scene.is_selected %}active-descendant js-default-descendant{% endif %}{% for class in scene.get_classes %} {{ class }}_x{% endfor %}">
					<a class="js-cinder-address" href="{{ scene.get_scene_url }}">
						{{ scene.get_scene_title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</div>
<!-- cinder-programme -->