<div id="lava_programme" class="lava-programme">
	<nav>
		<ul data-lava-nav-target-cntr="lava_stage" data-lava-nav-identifier="data-scene-id" class="lava-nav lava-nav-google lava-nav-scenes js-lava-nav vertical-list">
			{% for scene in scenes %}
				<li data-scene-id="{{ scene.get_scene_id }}" class="{% if scene.is_selected %}active-descendant js-default-descendant{% endif %}{% for class in scene.get_classes %} {{ class }}_x{% endfor %}">
					<a class="js-lava-address" href="{{ scene.get_scene_url }}">
						{{ scene.get_scene_title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</div>
<!-- lava-programme -->