<div id="cinder_topbar" class="cinder-topbar">
	<nav>
		<ul class="cinder-nav cinder-nav-main cinder-nav-pages horizontal-list margin-10">
			{% for page in pages %}
				<li class="{% if page.selected %}selected{% endif %}" >
					<a href="{{ page.url }}">
						{{ page.menu_title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</div>
<!-- cinder-topbar -->