<div id="lava_topbar" class="lava-topbar">
	<nav>
		<ul class="lava-nav lava-nav-main lava-nav-pages horizontal-list margin-10">
			{% for page in pages %}
				<li class="{% if page.selected %}selected{% endif %}" >
					<a href="{{ page.url }}">
						{{ page.menu_title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</div>
<!-- lava-topbar -->