{% extends 'default.twig' %}

{% block scene %}
	<form id="{{ form_id | default('lava_save_form') }}" method="post">
		<!-- This is the actual form that gets submitted-->
		<input name='nonce' value="{{ nonce }}" />
	</form>
{% endblock %}