/*
	Main stylesheet for the LAVA framework
*/
/*
	Main stylesheet for the LAVA framework
*/
.lava-cntr {
  /*
   * HTML5 Boilerplate
   *
   * What follows is the result of much research on cross-browser styling.
   * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
   * Kroc Camen, and the H5BP dev community and team.
   *
   * Detailed information about this CSS: h5bp.com/css
   *
   * ==|== normalize ==========================================================
   */

  /* =============================================================================
     HTML5 display definitions
     ========================================================================== */

  /* =============================================================================
     Base
     ========================================================================== */

  /*
   * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
   * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
   */

  /*
   * Remove text-shadow in selection highlight: h5bp.com/i
   * These selection declarations have to be separate
   * Also: hot pink! (or customize the background color to match your design)
   */

  /* =============================================================================
     Links
     ========================================================================== */

  /* Improve readability when focused and hovered in all browsers: h5bp.com/h */

  /* =============================================================================
     Typography
     ========================================================================== */

  /* Redeclare monospace font family: h5bp.com/j */

  /* Improve readability of pre-formatted text in all browsers */

  /* Position subscript and superscript content without affecting line-height: h5bp.com/k */

  /* =============================================================================
     Lists
     ========================================================================== */

  /* =============================================================================
     Embedded content
     ========================================================================== */

  /*
   * 1. Improve image quality when scaled in IE7: h5bp.com/d
   * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
   */

  /*
   * Correct overflow not hidden in IE9
   */

  /* =============================================================================
     Figures
     ========================================================================== */

  /* =============================================================================
     Forms
     ========================================================================== */

  /* Indicate that 'label' will shift focus to the associated form element */

  /*
   * 1. Correct color not inheriting in IE6/7/8/9
   * 2. Correct alignment displayed oddly in IE6/7
   */

  /*
   * 1. Correct font-size not inheriting in all browsers
   * 2. Remove margins in FF3/4 S5 Chrome
   * 3. Define consistent vertical alignment display in all browsers
   */

  /*
   * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
   */

  /*
   * 1. Display hand cursor for clickable form elements
   * 2. Allow styling of clickable form elements in iOS
   * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
   */

  /*
   * Re-set default cursor for disabled elements
   */

  /*
   * Consistent box sizing and appearance
   */

  /*
   * Remove inner padding and border in FF3/4: h5bp.com/l
   */

  /*
   * 1. Remove default vertical scrollbar in IE6/7/8/9
   * 2. Allow only vertical resizing
   */

  /* Colors for form validity */

  /* =============================================================================
     Tables
     ========================================================================== */

  /* =============================================================================
     Chrome Frame Prompt
     ========================================================================== */

  /* ==|== primary styles =====================================================
     Author:
     ========================================================================== */

  /* ==|== media queries ======================================================
     EXAMPLE Media Query for Responsive Design.
     This example overrides the primary ('mobile first') styles
     Modify as content requires.
     ========================================================================== */

  /* ==|== non-semantic helper classes ========================================
     Please define your styles before this section.
     ========================================================================== */

  /* For image replacement */

  /* Hide from both screenreaders and browsers: h5bp.com/u */

  /* Hide only visually, but have it available for screenreaders: h5bp.com/v */

  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

  /* Hide visually and from screenreaders, but maintain layout */

  /* Contain floats: h5bp.com/q */

  /* ==|== print styles =======================================================
     Print styles.
     Inlined to avoid required HTTP connection: h5bp.com/r
     ========================================================================== */

}
.lava-cntr article,
.lava-cntr aside,
.lava-cntr details,
.lava-cntr figcaption,
.lava-cntr figure,
.lava-cntr footer,
.lava-cntr header,
.lava-cntr hgroup,
.lava-cntr nav,
.lava-cntr section {
  display: block;
}
.lava-cntr audio,
.lava-cntr canvas,
.lava-cntr video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.lava-cntr audio:not([controls]) {
  display: none;
}
.lava-cntr [hidden] {
  display: none;
}
.lava-cntr html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.lava-cntr html,
.lava-cntr button,
.lava-cntr input,
.lava-cntr select,
.lava-cntr textarea {
  font-family: sans-serif;
  color: #222;
}
.lava-cntr body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
.lava-cntr ::-moz-selection {
  background: #fd492d;
  color: #fff;
  text-shadow: none;
}
.lava-cntr ::selection {
  background: #fd492d;
  color: #fff;
  text-shadow: none;
}
.lava-cntr a:focus {
  outline: thin dotted;
}
.lava-cntr a:hover,
.lava-cntr a:active {
  outline: 0;
}
.lava-cntr abbr[title] {
  border-bottom: 1px dotted;
}
.lava-cntr b,
.lava-cntr strong {
  font-weight: bold;
}
.lava-cntr blockquote {
  margin: 1em 40px;
}
.lava-cntr dfn {
  font-style: italic;
}
.lava-cntr hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.lava-cntr ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
.lava-cntr mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
.lava-cntr pre,
.lava-cntr code,
.lava-cntr kbd,
.lava-cntr samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
.lava-cntr pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.lava-cntr q {
  quotes: none;
}
.lava-cntr q:before,
.lava-cntr q:after {
  content: "";
  content: none;
}
.lava-cntr small {
  font-size: 85%;
}
.lava-cntr sub,
.lava-cntr sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.lava-cntr sup {
  top: -0.5em;
}
.lava-cntr sub {
  bottom: -0.25em;
}
.lava-cntr ul,
.lava-cntr ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
.lava-cntr dd {
  margin: 0 0 0 40px;
}
.lava-cntr nav ul,
.lava-cntr nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.lava-cntr img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.lava-cntr svg:not(:root) {
  overflow: hidden;
}
.lava-cntr figure {
  margin: 0;
}
.lava-cntr form {
  margin: 0;
}
.lava-cntr fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.lava-cntr label {
  cursor: pointer;
}
.lava-cntr legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
.lava-cntr button,
.lava-cntr input,
.lava-cntr select,
.lava-cntr textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.lava-cntr button,
.lava-cntr input {
  line-height: normal;
}
.lava-cntr button,
.lava-cntr input[type="button"],
.lava-cntr input[type="reset"],
.lava-cntr input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
.lava-cntr button[disabled],
.lava-cntr input[disabled] {
  cursor: default;
}
.lava-cntr input[type="checkbox"],
.lava-cntr input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
.lava-cntr input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.lava-cntr input[type="search"]::-webkit-search-decoration,
.lava-cntr input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.lava-cntr button::-moz-focus-inner,
.lava-cntr input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.lava-cntr textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
.lava-cntr input:invalid,
.lava-cntr textarea:invalid {
  background-color: #f0dddd;
}
.lava-cntr table {
  border-collapse: collapse;
  border-spacing: 0;
}
.lava-cntr td {
  vertical-align: top;
}
.lava-cntr .chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
@media only screen and (min-width: 35em) {
  .lava-cntr {
    /* Style adjustments for viewports that meet the condition */
  
  }
}
.lava-cntr .ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.lava-cntr .ir br {
  display: none;
}
.lava-cntr .hidden {
  display: none !important;
  visibility: hidden;
}
.lava-cntr .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.lava-cntr .visuallyhidden.focusable:active,
.lava-cntr .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.lava-cntr .invisible {
  visibility: hidden;
}
.lava-cntr .clearfix:before,
.lava-cntr .clearfix:after {
  content: "";
  display: table;
}
.lava-cntr .clearfix:after {
  clear: both;
}
.lava-cntr .clearfix {
  *zoom: 1;
}
@media print {
  .lava-cntr {
    /* Black prints faster: h5bp.com/s */
  
    /* Don't show links for images, or javascript/internal links */
  
    /* h5bp.com/t */
  
  }
  .lava-cntr * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  .lava-cntr a,
  .lava-cntr a:visited {
    text-decoration: underline;
  }
  .lava-cntr a[href]:after {
    content: " (" attr(href) ")";
  }
  .lava-cntr abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .lava-cntr .ir a:after,
  .lava-cntr a[href^="javascript:"]:after,
  .lava-cntr a[href^="#"]:after {
    content: "";
  }
  .lava-cntr pre,
  .lava-cntr blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  .lava-cntr thead {
    display: table-header-group;
  }
  .lava-cntr tr,
  .lava-cntr img {
    page-break-inside: avoid;
  }
  .lava-cntr img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  .lava-cntr p,
  .lava-cntr h2,
  .lava-cntr h3 {
    orphans: 3;
    widows: 3;
  }
  .lava-cntr h2,
  .lava-cntr h3 {
    page-break-after: avoid;
  }
}
.lava-cntr {
  font: 14px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lava-cntr a {
  font-weight: bold;
}
ul.horizontal-list.margin-10 li {
  margin: auto 10px;
}
ul.horizontal-list li {
  float: left;
  list-style: none;
}
ul.no-list-style {
  list-style: none;
}
.no-text-decoration {
  text-decoration: none;
}
.no-text-decoration a {
  text-decoration: none;
}
body.js .js-nojs {
  display: none;
}
.no-select {
  -webkit-user-select: none;
}
/*
	Defines structure for LAVA framework
*/
#lava-theatre {
  margin-left: -19px;
  margin-right: -15px;
}
#lava-topbar {
  position: relative;
  height: 50px;
  margin-top: 10px;
  margin-left: -6px;
  padding-left: 25px;
  z-index: 21;
  border: 1px solid #999;
  border-right: none;
}
#lava-topbar::before {
  content: '';
  position: absolute;
  left: -1px;
  bottom: -6px;
  border: 3px solid transparent;
  border-top-color: #999;
  border-right-color: #999;
}
#lava-topbar .lava-nav-pages {
  height: 50px;
  line-height: 50px;
}
#lava-actionbar {
  height: 60px;
  border-bottom: 1px solid #ebebeb;
}
#lava-actionbar .lava-actionbar-title {
  position: absolute;
  padding-left: 20px;
  left: 0px;
  line-height: 60px;
  height: 60px;
  max-width: 220px;
}
#lava-actionbar .lava-actionbar-block {
  height: 30px;
  line-height: 30px;
  padding: 15px 0px;
}
#lava-actionbar .lava-actionbar-block.inactive-descendant {
  display: none;
}
#lava-programme {
  width: 220px;
  margin-left: -239px;
  float: left;
  padding-top: 30px;
}
#lava-stage {
  padding-top: 30px;
}
/*
	Scenes
*/
.lava-scene.inactive-descendant {
  display: none;
}
/*
	Navigation
*/
.lava-nav li {
  cursor: pointer;
}
.lava-nav li.hidden-descendant {
  display: none;
}
.lava-nav-google li a {
  padding-left: 39px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
/*
	Buttons
*/
.lava-btn {
  height: 30px;
}
/*
	Titles
*/
.lava-title-wrap {
  line-height: 30px;
  height: 30px;
}
.lava-title {
  line-height: 30px;
  height: 30px;
}
/*
	Settings
*/
.lava-setting {
  padding-bottom: 20px;
}
.fix-bleed {
  padding-left: 19px;
  padding-right: 15px;
}
.lava-programme-aware {
  padding-left: 239px;
}
/*
	Ingredients > These are the building blocks for the UI
*/
/*
		.lava-tray
	*/
.lava-tray {
  padding-top: 10px;
}
.lava-topbar {
  background: #f9f9f9;
}
/*
	Navigation
*/
.lava-nav-main a {
  color: #333;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
.lava-nav-main a a {
  text-decoration: none;
}
.lava-nav-main a:hover,
.lava-nav-main a.selected {
  color: #fd492d;
}
.lava-nav-main .selected a {
  color: #fd492d;
}
.lava-nav-google .selected {
  color: #fd492d;
}
.lava-nav-google li {
  border-left: 5px solid transparent;
}
.lava-nav-google li:hover,
.lava-nav-google li.hover,
.lava-nav-google li:focus {
  background: #eee;
  border-left-color: #eee;
}
.lava-nav-google li.active-descendant {
  border-left-color: #fd492d;
}
.lava-nav-google li.active-descendant a {
  color: #fd492d;
}
.lava-nav-google li a {
  color: #222;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}
.lava-nav-google li a a {
  text-decoration: none;
}
#lava-actionbar .lava-actionbar-title {
  color: #fd492d;
  font-size: 20px;
}
/*
	Buttons
*/
.lava-cntr .lava-btn {
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  min-width: 60px;
  padding: 0px 10px;
}
.lava-cntr .lava-btn .common {
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.lava-cntr .lava-btn .common:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.lava-cntr .lava-btn .common:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.lava-cntr .lava-btn .common:focus {
  -webkit-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  outline: 0 transparent;
}
.lava-cntr .lava-btn.lava-btn-default {
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, whiteSmoke, #f1f1f1);
  background-image: -moz-linear-gradient(top, whiteSmoke, #f1f1f1);
  background-image: -ms-linear-gradient(top, whiteSmoke, #f1f1f1);
  background-image: -o-linear-gradient(top, whiteSmoke, #f1f1f1);
  background-image: linear-gradient(top, whiteSmoke, #f1f1f1);
  background-color: whiteSmoke;
  color: #666666;
  border: 1px solid gainsboro;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.lava-cntr .lava-btn.lava-btn-default:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.lava-cntr .lava-btn.lava-btn-default:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.lava-cntr .lava-btn.lava-btn-default:focus {
  -webkit-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  outline: 0 transparent;
}
.lava-cntr .lava-btn.lava-btn-default:hover {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
}
.lava-cntr .lava-btn.lava-btn-default:hover {
  color: #333333;
}
.lava-cntr .lava-btn.lava-btn-default:hover {
  border: 1px solid #C6C6C6;
}
.lava-cntr .lava-btn.lava-btn-primary {
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  background-color: #4d90fe;
  color: #ffffff;
  border: 1px solid #3079ED;
}
.lava-cntr .lava-btn.lava-btn-primary:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.lava-cntr .lava-btn.lava-btn-primary:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.lava-cntr .lava-btn.lava-btn-primary:focus {
  -webkit-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  outline: 0 transparent;
}
.lava-cntr .lava-btn.lava-btn-primary:hover {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
}
.lava-cntr .lava-btn.lava-btn-primary:hover {
  color: #ffffff;
}
.lava-cntr .lava-btn.lava-btn-primary:hover {
  border: 1px solid #2F5BB7;
}
/*
	Titles
*/
.lava-title-sect {
  font-size: 13px;
  font-weight: bold;
}
/*
	Settings
*/
.lava-setting {
  border-bottom: 1px solid #eee;
}
